<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AvtoService.Properties.Settings.ConnectionStringNifontovAvtoService"
            connectionString="Provider=SQLNCLI11;Data Source=MSI;Persist Security Info=True;Password=lolgin0987654123;User ID=user2;Initial Catalog=Nifontov"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>